@page
@model ReleaseNotifierApp.Pages.Media

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.MediaInfos.Count; i++)
    {
        var mediaInfo = Model.MediaInfos.ElementAt(i);
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@mediaInfo.Name</td>
            <td>
                <a href="/Media/@mediaInfo.Id">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<nav aria-label="Media page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PaginationNavigation.PreviousPossible ? "" : "disabled")">
            <a class="page-link" href="/Media?pageIndex=@(Model.PageIndex - 1)" tabindex="-1">Previous</a>
        </li>
        @foreach (var navigationItem in Model.PaginationNavigation.NavigationItems)
        {
            @if (navigationItem.Visible)
            {
                <li class="page-item @(navigationItem.Active ? "active" : "")">
                    <a class="page-link"
                       href="/Media?pageIndex=@(navigationItem.Value)">
                        @navigationItem.Value
                    </a>
                </li>
            }
        }
        <li class="page-item @(Model.PaginationNavigation.NextPossible ? "" : "disabled")">
            <a class="page-link" href="/Media?pageIndex=@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>