@page "/Media/{id:Guid}"
@using RealEaseApp.Pages.ViewComponents.Media
@model MediaDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card">
    <div class="card-header">
        @Model.MediaDetailsViewModel.MediaName - Details
    </div>

    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <h5 class="card-title">@Model.MediaDetailsViewModel.MediaName</h5>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text d-inline">LatestRelease: @Model.MediaDetailsViewModel.LatestRelease</p>
                    @if (Model.MediaDetailsViewModel.HasRelease)
                    {
                        <a href="@Model.MediaDetailsViewModel.NewestChapterLink" target="_blank" class="btn btn-primary d-inline">Read it!</a>
                    }
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <p class="card-text">
                    <b style="font-size: 1.2rem">Scrape Targets</b>
                </p>
            </div>
            @if (Model.MediaDetailsViewModel.HasScrapeTargets)
            {
                <div class="row">
                    <div class="col">
                        <div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addScrapeTargetModal">
                                Add Scrape Target
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Website</th>
                                    <th scope="col">Website Url</th>
                                    <th scope="col">ScrapeTarget Url</th>
                                    @if (User.IsAdmin())
                                    {
                                        <th scope="col">Actions</th>
                                    }
                                </tr>
                                </thead>
                                <tbody>
                                @for (var i = 0; i < Model.MediaDetailsViewModel.ScrapeTargetDetailsViewModels.Count; i++)
                                {
                                    var scrapeTargetDetail = Model.MediaDetailsViewModel.ScrapeTargetDetailsViewModels.ElementAt(i);
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@scrapeTargetDetail.WebsiteName</td>
                                        <td>
                                            <a href="@scrapeTargetDetail.WebsiteUrl" target="_blank">
                                                @scrapeTargetDetail.WebsiteUrl
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@scrapeTargetDetail.ScrapeTargetUrl" target="_blank">
                                                @scrapeTargetDetail.ScrapeTargetUrl
                                            </a>
                                        </td>
                                        @if (User.IsAdmin())
                                        {
                                            <td>
                                                <form method="post">
                                                    <button class="btn btn-danger"
                                                            type="submit"
                                                            onclick="showSpinner()"
                                                            asp-page-handler="Delete">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>

                                                    <input type="hidden" id="mediaId" name="mediaId" value="@Model.MediaDetailsViewModel.MediaId"/>
                                                    <input type="hidden" id="scrapeTargetId" name="scrapeTargetId" value="@scrapeTargetDetail.ScrapeTargetId"/>
                                                    @Html.AntiForgeryToken()
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                }
                                </tbody >
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p>No ScrapeTargets yet</p>
            }
        </div>
    </div>
</div>

@await Component.InvokeAsync(typeof(AddScrapeTargetViewComponent))